train/
test/
logs/
scripts/__pycache__/

data_mini/train
data_mini/val
data_mini/test
data_mini/dataset-metadata.json

data_30s_mini/train
data_30s_mini/val
data_30s_mini/test
data_30s_mini/dataset-metadata.json

data/train/
data/test/
data/dataset-metadata.json

SnapUGC_0/train/
SnapUGC_0/test/
SnapUGC_0/.cache/
SnapUGC_1/
SnapUGC_2/
SnapUGC_3/